
/* ----------------- En-TÊTE - MISE EN PAGE  */


h1 {
	text-align:center;
	/*text-decoration: underline;*/
	color: #3b92cd;
	font-family:"trebuchet ms", verdana, sans-serif;
		font-variant:small-caps;
	letter-spacing:1px;
	font-weight:bold;
	font-size:22px;
	margin-top:15;
	margin-bottom: 15px;
}
.h1b {
	text-align:center;
	/*text-decoration: underline;*/
	color: #3080D0;
	font-family:"trebuchet ms", Helvetica, sans-serif;
	letter-spacing:1px;
	font-variant:small-caps;
	font-weight:bold;
	font-size:14px;
	padding:5px;
}

h3 {
	text-align:center;
	/*text-decoration: underline;*/
	color: #999898;
	font-family:"trebuchet ms";
	letter-spacing:1px;
	font-variant:small-caps;
	font-weight:bold;
	font-size:16px;
	margin-top: 15px;
	margin-bottom: 5px;
}

h2 {
	text-align:center;
	/*text-decoration: underline;*/
	color: #fff;
	/*font-family:"trebuchet ms", verdana, sans-serif;*/
	letter-spacing:1px;
	font-variant:small-caps;
	font-weight:bold;
	font-size:2em;
	margin-top:0px;
	margin-bottom: 15px;
	vertical-align: top;
}

h4 {
	text-align:center;
	/*font-family:"trebuchet ms", verdana, sans-serif;*/
	letter-spacing:1px;
	font-variant:small-caps;
	font-weight:bold;
	font-size:1.5em;
	margin-top:10;
	margin-bottom: 15px;
}


/** VERSIONS MOBILE - TABLETTE **/
@media (max-width: 767px){
	
	form > div > label,legend {
		width: 100%;
	    float: none;
	    margin: 0 0 5px 0;
	}
	input[type="submit"], input[type="button"],[type=text]	{
		-webkit-appearance: none;	
		font-size: 1.2em;
		font-weight: bold;
		margin-top: 10px;
    	margin-bottom: 10px;	
	}
	select{
		width: 100%;
	}

	#ul_responsive li{
    	display: block;
    	margin-right: auto;
    	margin-left: auto;
    	padding-top: 5px;
    	padding-bottom: 5px;
    }

	#primary_nav {
        /*position: absolute;*/
        top: 5px;
        right: 10px;
        background: none;
        display: none;
        background:rgba(24,31,38,0.55);	
    }
 
	#primary_nav ul {
	    list-style: none;
	    background: #1c1c1c;
	    padding: 5px 0;
	}
	 
	#primary_nav li a {
	    display: block;
	    padding: 5 20px;
	    color: #fff;
	    text-decoration: none;
	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 0.1em;
	    letter-spacing: 0.1em;
	    line-height: 2em;
	    height: 2em;
	    border-bottom: 1px solid #3b92cd;
	}
	 
	#primary_nav li:last-child a {
	    border-bottom: none;
	}
	 
	#primary_nav li a:hover,
	#primary_nav li a:focus {
	    color: #1c1c1c;
	    background: #ccc;
	}
	#primary_nav:target{
		display: block;
	}
}
/* Version MOBILE */
@media (max-width: 480px){
	.illu{
		/*display: none;*/
		width:100%
	}
}

@media (max-width: 768px, min-width: 641px){
	select{
		-webkit-appearance: none;
	}
	input[type="submit"], input[type="button"]{
		-webkit-appearance: none;
	}
	input[type=text] {
		-webkit-appearance: none;
	}
}


/* version web */
@media (min-width: 768px){
	/*#mobil_nav{
		display: none;
	}*/
	select{
		background: #06080b;
		color: #9e9e9e;
		border: 0.18em solid #000;
	}
	a.to_nav {
        display: none;
    } 
 
    #primary_nav li {
        display: inline;
    }
 
    #primary_nav li a {
        /*float: left;*/
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    #secondary_nav li {
        display: inline;
    }
 
    #secondary_nav li a {
        /*float: left;*/
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    #ul_responsive li{
    	display: inline;
    	padding-right: 10px;
    	padding-left: 10px;
    }



}





body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.6em;
	/*color: #85afc7;*/
	color: #afbcce;
	background-image:url(background2.jpg);
	background-repeat: no-repeat;
	/*background-color: #191919;*/
	background-color: #000;

	background-position: top;


	vertical-align: center;
	margin-left: auto;
  	margin-right: auto;

  	width: auto;


}

label{
	text-transform: uppercase;
	color: #fff;
	margin-right: 5px;
	margin-left: 10px;
}

/* ----------------- FONCTIONS de FORM */
a{
	color:#fff;
	text-decoration:none;
}

a:hover, a:focus {
	text-decoration:none;
	color:#3b92cd;
}

a img	{
	border: none;
}
a.to_nav {
    float: right;
    color: #fff;
    background: #4e4e4e;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
 
a.to_nav:hover,
a.to_nav:focus {
    color: #1c1c1c;
    background: #ccc;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}


/** INPUT **/


input[type="submit"]:hover, input[type="button"]:hover{
	color: #1c1c1c;
    background: #ccc;
}

input[type="submit"], input[type="button"]	{
	padding-top:5px;
	padding-bottom:5px;
	padding-right:8px;
	padding-left:8px;

	text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	
	background: #4e4e4e;
	color:#9e9e9e;
	/*font-size: 0.9em;*/

	border: 1px solid #000;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 15px;
	margin-left: 15px;


}

input[type="text"]:focus{
	background: #384451;
	color: #9e9e9e;
	border: 0.18em solid #06080b;

}
input[type=text] {
    background: #06080b;
	color: #9e9e9e;
	border: 0.18em solid #384451;
	text-align: center;
}

input[type="text"]:disabled {
    background: #1c1d1e;
    color: #6b888f;
}



input[type="time"]{
	background: #254e78;
	color: #64d3ee;
	border: 1px solid #101419;

}



/** FORM & TABLE **/
form{
	margin: 5px;
}

table{
	border: 1px solid #101419;
	font-size: 1em;
	position: relative;
	margin: auto;

}

td {
    padding: 5px;
    text-align: center;
    /*background:rgba(14,34,65,0.5);*/
    background-color: #1c1d1e;
    color:#999898;
}
tr:nth-child(even) {
	background-color: #8695b3
}
tr:hover {background-color: #f5f5f5}
th{
	background-color: #2f3032
}
.tdSelected{
	background-color: #3b92cd;
	color:#1c1d1e;
}
.tdFocus{
	background-color: #ccc;
	color:#1c1d1e;
}



/* ----------------- CLASSES */

.alerte{
	margin-bottom: 10px;
}
.bgDefaultColor{
	background-color: #191919;
}
.bgColorDarkDefault{
	background-color: #744761;
}

.illu{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
.ligneSeparator{
	/*border-bottom: 0.2em solid #06080b;*/
	border-bottom: 0.2em dotted #3b92cd;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 15px;
  	margin-bottom: 10px;
  	max-width: 640px;
	width: auto;
}

.panelText{
	max-width: 640px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.panelDark{
	background:rgba(24,31,38,0.55);
	padding: 10px;
	margin-top: 20px;
	border: 0.2em solid #06080b;
	max-width: 900px;
	vertical-align: center;
	margin-left: auto;
  	margin-right: auto;

}

.panelLight{
	background-color: #ccc;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 10px;
	padding-bottom: 7px;
}

.panelDarkHard{
	/*background-color: #131413 #101419 #080808;*/
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0.2em solid #06080b;
	max-width: 900px;
	vertical-align: center;
	margin-left: auto;
  	margin-right: auto;

	background:rgba(8,8,8,0.7);
	box-shadow: 1px -0.04em 2em 0.2em #06080b;
}

.footer {
	color: #999898;
	font-variant:small-caps;
	background-color: #131413;
	border: 1px solid #06080b;
	width:auto;
	text-align: center;
	padding:10px;
	margin-top: 20px;
}

.headPanelTitle {
	color: #999898;
	background-color: #181f26;
	border: 0.05em solid #06080b;
	width:auto;
	text-align: center;
	margin-top: 0px;
}

.menuHead {
	color: #999898;
	background-image: url("bg-menu.png");
	background-color: #131413;
	border: 0.2em solid #000;
	width:auto;
	text-align: center;
	padding-right:10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	/*box-shadow: -1px -0.04em 0.2em 0.01em #3f6fa0;
	/*box-shadow: h-pos v-pos (blur) (spread) (color) (inset);*/
}

.menuPadding{
	padding-right: 10px;
	padding-left: 10px;
}


.celTitle{
	color: #fff;
}


.result{
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	padding: 10px;
}
.resultFocus{
	text-align: center;
	font-size: 1.5em;
	padding: 10px;
	font-weight:bold;
	background:rgba(8,8,8,0.8);
	max-width: 768px;
	width: auto;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	/* bg #080808*/
}

.childResult{
	text-align: center;
	font-size: 1em;
	padding-bottom: 10px;
	text-align: center;
	color: #999898;
	padding: 10px;
}

.boldResult{
	font-weight: bold;
}
.greenResult{
	color: #9bd05c;
}

.redResult{
	color: #ee6464;
}
.cyanResult{
	color: #64d3ee;
}

.yellowResult{
	color: #f0e79e;
}

.blueDefault{
	color: #3b92cd;
}

.greyDark{
	color: #1c1d1e;
}



.blackButton	{
	padding-top:3px;
	padding-bottom:3px;
	padding-right:3px;
	padding-left:3px;
	border-top-right-radius: 5px ;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 0.70em;
	background: #744761;

	border: 2px solid #edced3;
	color: #edced3;

	cursor: pointer;
	max-width: 350px;

	margin-top: 10px;

}

.infoStandard{
	color: #999898;
}

.intro{
	margin-top: 5px;
	margin-bottom: 5px;
}

.infoSmall{
	font-family:"trebuchet ms", verdana, sans-serif;
	font-size: 0.90em;
	font-style: italic;
	margin-bottom: 5px;
	margin-top: 10px;
	color: #999898;
}

.center{
	text-align: center;
}

.planeteImage{
	padding-top: 10px;
}

.bouton
{
    color:#0000ff;
    font-size:24px;
    cursor:pointer;
}

.wrapper {
 	width: 100%;
    max-width: 768;
    margin: auto;
}

.logo{
	width: 100px;
}

